<!doctype html>
<html lang="en">

<head>
    {{- partial "head-projekte.html" . -}}

    <title>{{.Site.Title}} | Fallstudien in Asien</title>
</head>


<body>
    {{- partial "navbar.html" . -}}
    <div style="min-height: 88vh;">
        <div class="container" style="padding-top:100px;">
            <h2 class="h1">Fallstudien in Asien</h2>
            <br>
            <div class="row">
                <div class="col-3">
                    {{partial "filter.html" . }}
                </div>


                <div class="col-9">
                    <div class="grid">
                        <a href="#" data-toggle="modal" data-target=".bd-aravind-modal-xl">
                            <div class="element-item dienst gesundheitswesen corporate">
                                <p class="logo"><img src="../../images/logo-aravind.png" alt="">
                                </p>
                                <h3 class="name">Aravind Eye Hospital</h3>
                                <p class="subtitle">Indische Krankenhauskette für kostengünstige Augenbehandlungen</p>
                            </div>
                        </a>

                       <a href="#" data-toggle="modal" data-target=".bd-jaipur-modal-xl">
                            <div class="element-item produkte gesundheitswesen grassroots">
                                <p class="logo"><img src="../../images/logo-jaipurFoot.png" alt=""></p>
                                <h3 class="name">Jaipur Foot</h3>
                                <p class="subtitle">Beinprothese auf Gummi-Basis</p>
                            </div>
                        </a>
                        <a href="#" data-toggle="modal" data-target=".bd-clay-modal-xl">
                            <div class="element-item produkte geraete grassroots">
                                <p class="logo"><img src="../../images/logo-clay.png" alt=""></p>
                                <h3 class="name">Clay Refrigerator</h3>
                                <p class="subtitle">Lehmkühlschrank mit Kühlung durch Wasserdampf</p>
                            </div>
                        </a>
                        <a href="#" data-toggle="modal" data-target=".bd-bharat-modal-xl">
                            <div class="element-item produkte mobilitaet corporate">
                                <p class="logo"><img src="../../images/logo-daimler.png" alt=""></p>
                                <h3 class="name">BharatBenz</h3>
                                <p class="subtitle">Nutzfahrzeuge für den indischen Markt </p>
                            </div>
                        </a>
                        <a href="#" data-toggle="modal" data-target=".bd-crop-modal-xl">
                            <div class="element-item produkte landwirtschaft corporate">
                                <p class="logo"><img src="../../images/logo-claas.png" alt=""></p>
                                <h3 class="name">Crop Tiger</h3>
                                <p class="subtitle">Mähdrescher mit Kettenantrieb für die Reisernte</p>
                            </div>
                        </a>
                        <a href="#" data-toggle="modal" data-target=".bd-oneDollar-modal-xl">
                            <div class="element-item produkte gesundheitswesen grassroots">
                                <p class="logo"><img src="../../images/logo-oneDollarGlasses.png" alt=""></p>
                                <h3 class="name">Ein Dollar Brille</h3>
                                <p class="subtitle">Kostengünstige Brille für Schwellen- und Entwicklungsländer</p>
                            </div>
                        </a>
                        <a href="#" data-toggle="modal" data-target=".bd-quechua-modal-xl">
                            <div class="element-item produkte gesundheitswesen grassroots">
                                <p class="logo"><img src="../../images/logo-quechua.png" alt="">
                                </p>
                                <h3 class="name">Quechua Wurfzelt</h3>
                                <p class="subtitle">Campingzelt mit spezieller Wurftechnik für einen schnellen Aufbau</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade bd-aravind-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Aravind Eye Hospital</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">



                                <p><small>Das Aravind Eye Hospital ist eine indische Krankenhauskette, die 1976 von Govindappa Venkataswamy in Madurai gegründet wurde und heute 13 Augenkliniken umfasst. 
                                Die Kliniken sind auf den in Indien häufig vorkommenden grauen Start spezialisiert und bieten sehr kostengünstige Behandlungen an. 
                                <br>
                                Zur Einsparung von Kosten hat Aravind schlanke Strukturen mit geringem bürokratischem Aufwand etabliert und gängige Abläufe weitgehend standardisiert und skaliert. 
                                Operationen werden beispielsweise in sogenannten Operation Theaters zusammengelegt, Patienten werden in  Gemeinschaftssprechstunden beraten. </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="https://aravind.org/our-story/">Weitere Infos!</a></p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/aravindEyeHospital.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-jaipur-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Jaipur Foot</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">



                                <p><small>Der von der weltweit größten Organisation für Menschen mit Behinderung BMVSS (Bhagwan Mahaveer Viklang Sahayata Samiti) entwickelte Jaipur Foot ist eine Beinprothese für finanzschwache Menschen in Indien. 
                                Die Prothese aus Kautschuk, Plastik und Holz ist deutlich günstiger als gängige Prothesen aus Kohlefasern und zugleich sehr robust und flexibel. 
                                Sogar Rollschuhfahren und Klettern ist damit möglich. 
                                <br>
                                Die Prothese wird innerhalb von 1-3 Tagen individuell angepasst. 
                                Alle erforderlichen Leistungen rund um die Prothesenanfertigung werden von BMVSS übernommen und durch Spenden finanziert.  </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="http://news.mit.edu/sites/mit.edu.newsoffice/files/styles/news_article_image_top_slid">Weitere Infos!</a></p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/jaipurFoot.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-clay-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Clay Refrigerator</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Der Clay Refrigerator ist ein aus Lehm gefertigter Kühlschrank, der durch Wasserdampf kühlt und damit ohne Stromversorgung auskommt. 
                                Zur Kühlung wird lediglich der Tonbehälter mit Wasser befüllt, das durch die Umgebungswärme verdampft. Durch die geringe Größe des Geräts kann der Kühlschrank auch in kleinen Hütten genutzt werden. 
                                Die Konstruktion aus Lehm mit wenigen Einzelteilen ist robust und ermöglicht eine lange Nutzbarkeit. 
                                Durch den Verzicht auf Strom entstehen beim Betrieb – abgesehen von der Wasserzufuhr – keine Betriebskosten.
                                </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="https://www.energieleben.at/kuehlschrank-ohne-strom/">Weitere Infos!</a></p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/clayRefrigerator.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-bharat-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">BharatBenz</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Unter der Marke Bharat Benz vertreibt die Daimler AG robuste Nutzfahrzeuge mit hoher Qualität zu erschwinglichem Preis. 
                                Die Fahrzeuge wurden in enger Zusammenarbeit mit den Nutzern speziell für den indischen Markt entwickelt. 
                                Kennzeichnend für die Fahrzeuge sind hohe Standards in Bezug auf Komfort und Sicherheit sowie eine einfache Bedienung. 
                                Neben einer Ausstattung mit ABS besitzen sie sowohl eine Rückfahrkamera als auch eine Klimaanlage zur Vorbeugung von Erschöpfung bei hohen Temperaturen. 
                                Eine manuelle Schaltung erleichtert das Manövrieren in engen Straßen
                                </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="https://www.daimler-truck.com/marken/trucks/bharatbenz/">Weitere Infos!</a></p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/bharatBenz.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-crop-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Crop Tiger</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Der Crop Tiger ist ein speziell für den asiatischen Markt entwickelter Mähdrescher. 
                                Besonderheiten sind seine kompakte und gleichzeitig robuste Bauweise sowie die bewusste Reduktion von technischen Einzelteilen. 
                                Dadurch ist der Crop Tiger weniger reparaturanfällig und seine Bedienung kann innerhalb weniger Stunden erlernt werden. 
                                Zudem besitzt er einen Kettenantrieb, der speziell für den Einsatz auf Reisfeldern konzipiert wurde. 
                                Die von Claas eigens entwickelte Tangential Axial Flow-Technologie ermöglicht die doppelte Reinigung des geernteten Korns und eine besonders verlustarme Ernte. 
                                </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="https://www.claas.de/blueprint/servlet/blob/945306/d6e9a5f9025e27a3b8da089c3cacb8ee/prospekt-crop-tiger-data.pdf">Weitere Infos!</a></p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/cropTiger.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-oneDollar-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Ein Dollar Brille</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>EinDollarBrille ist ein Social Enterprise mit dem Ziel, in Entwicklungs- und Schwellenländern eine unabhängige augenoptische Grundversorgung zu leisten. 
                                Hierfür wurden kostengünstige Brillen im Baukastenformat entwickelt, die direkt vor Ort hergestellt werden können. 
                                Die Verwendung einer portablen Biegemaschine und einfacher Sehtests ermöglichen eine schnelle und sehr günstige Herstellung, die Materialkosten belaufen sich lediglich auf rund einen Dollar. 
                                Die Brillen selbst sind individualisierbar und sehr robust. 
                                Durch die Ausbildung einheimischer Arbeitskräfte werden Arbeitsplätze vor Ort geschaffen und lokale Vertriebsstrukturen aufgebaut.</small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="www.eindollarbrille.de">Weitere Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/einDollarBrille.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-quechua-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Quechua Wurfzelt</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>Das Quechua Wurfzelt ist ein sehr schnell und einfach aufzubauendes Camping-Zelt. 
                                Durch die von Decathlon eigens entwickelte „Wurftechnik“ wird die Anzahl an separat aufzubauenden Einzelteilen reduziert und ein vollständige Aufbau des Zeltes innerhalb von 3-5 Minuten ermöglicht. 
                                Damit erfordert der Zeltaufbau lediglich minimale Vorkenntnisse; das Zelt ist damit besonders auch für Camping-Neulingen und Gelegenheitscamper geeignet. 
                                Neben dem klassischen einfachen Wurfzelt, das auf maximal zwei Personen ausgerichtet ist, gibt es auch Modelle für eine höhere Personenanzahl und Varianten mit zusätzlichen Ausstattungsmerkmalen. 
                                Dazu gehört beispielsweise Fresh&Black, eine schwarze Innenbeschichtung aus lichtabsorbierendem Material, die wärmereduzierend wirkt und auch am Tag Dunkelheit innerhalb des Zeltes ermöglicht</small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="http://presse.decathlon.de/wp-content/uploads/2016/12/Pressemitteilung_Quechua_Neue-Zelt-Innovation-von-Quechua_-Fresh_Black.pdf">Weitere Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/quechuaWurfzelt.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    {{ partial "footer" . }}

    <script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('change', function (event) {
            var $select = $(event.target);
            // get group key
            var filterGroup = $select.attr('value-group');
            // set filter for group
            filters[filterGroup] = event.target.value;
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }

    </script>


    <script>
        // quick search regex
        var qsRegex;

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            filter: function () {
                return qsRegex ? $(this).text().match(qsRegex) : true;
            }
        });

        // use value of search field to filter
        var $quicksearch = $('.quicksearch').keyup(debounce(function () {
            qsRegex = new RegExp($quicksearch.val(), 'gi');
            $grid.isotope();
        }, 200));

        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            threshold = threshold || 100;
            return function debounced() {
                clearTimeout(timeout);
                var args = arguments;
                var _this = this;
                function delayed() {
                    fn.apply(_this, args);
                }
                timeout = setTimeout(delayed, threshold);
            };
        }
    </script>

    <!--<script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('click', '.jancuk', function () {
            var $this = $(this);
            // get group key
            var $buttonGroup = $this.parents('.button-group');
            var filterGroup = $buttonGroup.attr('data-filter-group');
            // set filter for group
            filters[filterGroup] = $this.attr('data-filter');
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'jancuk', function () {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $(this).addClass('is-checked');
            });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }
    </script>-->


</body>

</html>