<!doctype html>
<html lang="en">

<head>
    {{- partial "head-projekte.html" . -}}

    <title>{{.Site.Title}} | Fallstudien in Europa</title>
</head>


<body>
    {{- partial "navbar.html" . -}}
    <div style="min-height: 88vh;">
        <div class="container" style="padding-top:100px;">
            <h2 class="h1">Fallstudien in Europa</h2>
            <br>
            <div class="row">
                <div class="col-3">


                    {{partial "filter.html" . }}
                </div>


                <div class="col-9">
                    <div class="grid">
                        {{partial "karte_emporia.html" . }}

                        {{partial "karte_vscan.html" . }}

                        {{partial "karte_quecha.html" . }}

                        {{partial "karte_ibis.html" . }}

                        {{partial "karte_n26.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    {{partial "modal_emporia.html" . }}
    {{partial "modal_quecha.html" . }}
    {{partial "modal_vscan.html" . }}
    {{partial "modal_ibis.html" . }}
    {{partial "modal_n26.html" . }}


    </div>
    <br>
    <br>
    {{ partial "footer" . }}

    <script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('change', function (event) {
            var $select = $(event.target);
            // get group key
            var filterGroup = $select.attr('value-group');
            // set filter for group
            filters[filterGroup] = event.target.value;
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        $('.button--reset').on('click', function () {
            // reset filters
            filters = {};
            $grid.isotope({ filter: '*' });
            $('.filter-select').val('*');
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }

    </script>


    <script>
        // quick search regex
        var qsRegex;

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            filter: function () {
                return qsRegex ? $(this).text().match(qsRegex) : true;
            }
        });

        // use value of search field to filter
        var $quicksearch = $('.quicksearch').keyup(debounce(function () {
            qsRegex = new RegExp($quicksearch.val(), 'gi');
            $grid.isotope();
        }, 200));

        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            threshold = threshold || 100;
            return function debounced() {
                clearTimeout(timeout);
                var args = arguments;
                var _this = this;
                function delayed() {
                    fn.apply(_this, args);
                }
                timeout = setTimeout(delayed, threshold);
            };
        }
    </script>

    <!--<script>
        // external js: isotope.pkgd.js

        // init Isotope
        var $grid = $('.grid').isotope({
            itemSelector: '.element-item'
        });

        // store filter for each group
        var filters = {};

        $('.filters').on('click', '.jancuk', function () {
            var $this = $(this);
            // get group key
            var $buttonGroup = $this.parents('.button-group');
            var filterGroup = $buttonGroup.attr('data-filter-group');
            // set filter for group
            filters[filterGroup] = $this.attr('data-filter');
            // combine filters
            var filterValue = concatValues(filters);
            // set filter for Isotope
            $grid.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'jancuk', function () {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $(this).addClass('is-checked');
            });
        });

        // flatten object by concatting values
        function concatValues(obj) {
            var value = '';
            for (var prop in obj) {
                value += obj[prop];
            }
            return value;
        }
    </script>-->


</body>

</html>