<div class="filters">

    <!-- Filtering with Search Field -->
    <div class="col-12">
        <h3 class="h3" style="text-align: left;">Suchen</h3>
        <p><input type="text" class="quicksearch form-control" placeholder="Suchen" /></p>
    </div>

    <!-- Combination Filters with Select -->
    <div class="col">
        <h3 class="h3" style="text-align: left;">Filter</h3>
        <select class="filter-select custom-select" value-group="Art">
            <option value="*">Innovationsart</option>
            <option value=".produkte">Produkte</option>
            <option value=".dienst">Dienstleistungen</option>
        </select>
    </div>

    <div class="col">
        <br>
        <select class="filter-select custom-select" value-group="Branchen">
            <option value="*">Branche</option>
            <option value=".gesundheitswesen">Gesundheitswesen</option>
            <option value=".geraete">Haushaltsgeräte</option>
            <option value=".banken">Banken</option>
            <option value=".hotel">Hotel</option>
            <option value=".mobilfunk">Mobilfunk</option>
            <option value=".energie">Energie</option>
        </select>
    </div>

    <div class="col">
        <br>
        <div>
            <select class="filter-select custom-select" value-group="Groesse">
                <option value="*">Entstehungf</option>
                <option value=".grassroots">Grassroots Innovation</option>
                <option value=".corporate">Corporate Innovation</option>
            </select>
        </div>
    </div>

</div>
<!--<div class="col">
<div class="filters">
    <h3 class="h3" style="text-align: left;">Kategorien</h3>
    <br>
    <div>
        <div class="list-group" id="list-tab" role="tablist" data-filter-group="Art">
            <button class="jancuk list-group-item list-group-item-action active" data-filter=""
                data-toggle="list" href="#" role="tab">alle</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".produkte"
                data-toggle="list" href="#" role="tab">Produkte</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".dienst"
                data-toggle="list" href="#" role="tab">Dienstleistungen</button>
        </div>
    </div>
</div>
</div>
<div class="col">
<div class="filters">
    <h3 class="h3">Branchen</h3>
    <div>
        <div class="list-group" id="list-tab" role="tablist" data-filter-group="Branchen">
            <button class="jancuk list-group-item list-group-item-action active" data-filter=""
                data-toggle="list" href="#" role="tab">alle</button>
            <button class="jancuk list-group-item list-group-item-action"
                data-filter=".gesundheitswesen" data-toggle="list" href="#"
                role="tab">Gesundheitswesen</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".geraete"
                data-toggle="list" href="#" role="tab">Haushaltsgeräte</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".banken"
                data-toggle="list" href="#" role="tab">Banken</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".beratung"
                data-toggle="list" href="#" role="tab">Beratung</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".hotel"
                data-toggle="list" href="#" role="tab">Hotelgewerbe</button>
            <button class="jancuk list-group-item list-group-item-action" data-filter=".mobilfunk"
                data-toggle="list" href="#" role="tab">Mobilfunk</button>
        </div>
    </div>
</div>
</div>
<div class="col">
<div class="filters">
    <h3 class="h3">Unternehmensgröße</h3>
    <div>
        <div class="button-group js-radio-button-group" data-filter-group="Groesse">
            <button class="jancuk is-checked" data-filter="">alle</button>
            <button class="jancuk" data-filter=".grassroots">Grassroots Innovation</button>
            <button class="jancuk" data-filter=".corporate">Corporate Innovation</button>
        </div>
    </div>
</div>
</div>-->