<a href="#" data-toggle="modal" data-target=".bd-quechua-modal-xl">
    <div class="element-item produkte camping grassroots">
        <br>
        <h3 class="name">Quechua Wurfzelt</h3>
        <p class="subtitle">Campingzelt mit spezieller Wurftechnik für einen schnellen Aufbau
        </p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-quechua_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/quechuaWurfzelt_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>