<a href="#" data-toggle="modal" data-target=".bd-rehau-modal-xl">
    <div class="element-item dienst energie corporate">
        <br>
        <h3 class="name">Rehau HomeGas</h3>
        <p class="subtitle">Biogasanlage für Landwirte</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/cngHomeGas1_thumb.png" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/rehauHomeGas_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>