<a href="#" data-toggle="modal" data-target=".bd-wadi-modal-xl">
    <div class="element-item produkte umwelt grassroots">
        <br>

        <h3 class="name">Wadi</h3>
        <p class="subtitle">Gerät zur natürlichen Wasserdesinfektion durch UV-Licht</p>
        <div class="row">
            <div class="col-6 unten-links" style="padding-top: 25px;">
                <img src="../../images/logo-helioz_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/wadi_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>
