<a href="#" data-toggle="modal" data-target=".bd-aravind-modal-xl">
    <div class="element-item dienst gesundheitswesen corporate">
        <br>
        <h3 class="name">Aravind Eye Hospital</h3>
        <p class="subtitle">Indische Krankenhauskette für kostengünstige Augenbehandlungen</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-aravind_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/aravindEyeHospital_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>