<a href="#" data-toggle="modal" data-target=".bd-crop-modal-xl">
    <div class="element-item produkte landwirtschaft corporate">
        <p class="logo"><img src="../../images/logo-claas.png" alt=""></p>
        <h3 class="name">Crop Tiger</h3>
        <p class="subtitle">Mähdrescher mit Kettenantrieb für die Reisernte</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-claas_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/cropTiger_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>