<a href="#" data-toggle="modal" data-target=".bd-emporia-modal-xl">
    <div class="element-item produkte tele corporate">
        <br>
        <h3 class="name">Emporia Mobiltelefone</h3>
        <p class="subtitle">Mobiltelefone für Senioren mit angepassten Funktionen</p>
        <div class="row">
            <div class="col-6 unten-links" style="padding-top: 23px;">
                <img src="../../images/logo-emporia.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/emporiaMobiltelefone.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>