<a href="#" data-toggle="modal" data-target=".bd-chapa-modal-xl">
    <div class="element-item produkte gesundheitswesen grassroots">
        <br>
        <h3 class="name">CH4PA</h3>
        <p class="subtitle">Nutzfahrzeug mit Biogas-Antrieb für Kleinbauern</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo_ch4pa_thumb.png" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/ch4pa_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>