<a href="#" data-toggle="modal" data-target=".bd-oneDollar-modal-xl">
    <div class="element-item produkte medizin grassroots">
        <br>
        <h3 class="name">Ein Dollar Brille</h3>
        <p class="subtitle">Kostengünstige Brille für Schwellen- und Entwicklungsländer</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-oneDollarGlasses_thumb.png"
                    class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/einDollarBrille_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>