<a href="#" data-toggle="modal" data-target=".bd-jaipur-modal-xl">
    <div class="element-item produkte medizin grassroots">
        <br>
        <h3 class="name">Jaipur Foot</h3>
        <p class="subtitle">Beinprothese auf Gummi-Basis</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-jaipurFoot_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center" style="padding-left: 30px; padding-top: 13px;">
                <img src="../../images/jaipurFoot_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>