<a href="#" data-toggle="modal" data-target=".bd-fresh-modal-xl">
    <div class="element-item dienst geraete corporate">
        <br>
        <h3 class="name">FreshBox</h3>
        <p class="subtitle">Portable Kühlbox für afrikanische Farmer</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/bsh_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/freshBox_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>