<a href="#" data-toggle="modal" data-target=".bd-mpesa-modal-xl">
    <div class="element-item dienst banken mobilfunk corporate">
        <br>
        <h3 class="name">M-Pesa</h3>
        <p class="subtitle">Servicesystem für bargeldlosen mobilen Zahlungsverkehr</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/vodafone_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/mpesa_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>
