<a href="#" data-toggle="modal" data-target=".bd-bharat-modal-xl">
    <div class="element-item produkte mobilitaet corporate">
        <br>
        <h3 class="name">BharatBenz</h3>
        <p class="subtitle">Nutzfahrzeuge für den indischen Markt </p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-daimler_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/bharatBenz_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>