<a href="#" data-toggle="modal" data-target=".bd-n26-modal-xl">
    <div class="element-item dienst banken corporate">
        <br>
        <h3 class="name">N26</h3>
        <p class="subtitle">Direktbank mit mobiler Kontoführung per Smartphone</p>
        <div class="row">
            <div class="col-6 unten-links" style="padding-top: 15px; padding-left: 23px;">
                <img src="../../images/logo-n26_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="../../images/n26_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>