<a href="#" data-toggle="modal" data-target=".bd-clay-modal-xl">
    <div class="element-item produkte geraete grassroots">
        <br>
        <h3 class="name">Clay Refrigerator</h3>
        <p class="subtitle">Lehmkühlschrank mit Kühlung durch Wasserdampf</p>
        <div class="row">
            <div class="col-6 unten-links">
                <img src="../../images/logo-clay_thumb.jpg" class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center" style="padding-left: 30px; padding-top: 10px;">
                <img src="../../images/clayRefrigerator_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>