<a href="#" data-toggle="modal" data-target=".bd-vscan-modal-xl">
    <div class="element-item produkte medizin corporate">
        <br>
        <h3 class="name">VScan</h3>
        <p class="subtitle">Batteriebetriebenes mobiles Ultraschallgerät
        </p>
        <div class="row">
            <div class="col-6 unten-links" style="padding-left: 45px; padding-top: 17px">
                <img src="../../images/Ge-Ultraschall-Logo_thumb.png"
                    class=" img-fluid img-thumbnail">
            </div>
            <div class="col-6 unten-rechts align-self-center">
                <img src="/images/vscan_thumb.png" class=" img-fluid img-thumbnail">
            </div>
        </div>
    </div>
</a>