<div class="modal fade bd-oneDollar-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Ein Dollar Brille</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>EinDollarBrille ist ein Social Enterprise mit dem Ziel, in Entwicklungs- und Schwellenländern eine unabhängige augenoptische Grundversorgung zu leisten. 
                                Hierfür wurden kostengünstige Brillen im Baukastenformat entwickelt, die direkt vor Ort hergestellt werden können. 
                                Die Verwendung einer portablen Biegemaschine und einfacher Sehtests ermöglichen eine schnelle und sehr günstige Herstellung, die Materialkosten belaufen sich lediglich auf rund einen Dollar. 
                                Die Brillen selbst sind individualisierbar und sehr robust. 
                                Durch die Ausbildung einheimischer Arbeitskräfte werden Arbeitsplätze vor Ort geschaffen und lokale Vertriebsstrukturen aufgebaut.</small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="www.eindollarbrille.de">Weitere Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/einDollarBrille.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>