<div class="modal fade bd-emporia-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Emporia Mobiltelefone</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>Emporia Mobiltelefone sind speziell für die Bedürfnisse älterer und körperlich eingeschränkter Personen entwickelt. 
                                Zu den Besonderheiten zählen unter anderem ein großes Display inklusive Lupenfunktion zur besseren Lesbarkeit sowie Lautsprecher, die mit Hörgeräten kompatibel sind. 
                                Zudem sind einige Mobiltelefone mit GPS, einem Fallsensor und einer Notruf-Taste ausgestattet. 
                                Neben Tastentelefonen bietet Emporia auch seniorengerechte Smartphones mit Touch-Display und einer eigens entwickelten, vereinfachten Benutzeroberfläche. </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="www.emporia.de">Weitere Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/emporiaMobiltelefone.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>