<div class="modal fade bd-mpesa-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">M-Pesa</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>M-Pesa bietet ein Servicesystem für bargeldlosen mobilen Zahlungsverkehr.
                                        Besonders daran ist, dass weder eine Internetverbindung, noch die Mitgliedschaft
                                        bei einer Bank notwendig ist.
                                        Stattdessen erfolgt die Autorisierung zur Nutzung lediglich durch eine
                                        Registrierung bei M-Pesa.
                                        Tankstellen, Supermärkte und Kioske fungieren als Agents. Zahlungen können per
                                        SMS übermittelt werden.
                                        Die Erweiterung „M-Shwari“ ermöglicht Spareinlagen und Kreditaufnahmen durch die
                                        Verwaltung eines virtuellen Kontos. </small></p>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://www.vodafone.com/content/index/what/technology-blog/m-pesa-created.html">Hier
                                        geht's zum Projekt!</a>
                                </p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/mpesa.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>