<div class="modal fade bd-vscan-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">VScan</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>Mit dem VScan hat der amerikanische Konzern GE Healthcare ein mobiles,
                                        batteriebetriebenes Ultraschallgerät entwickelt. Das Gerät bietet alle
                                        standardmäßigen Ultraschallfunktionen und verzichtet bewusst auf
                                        Zusatzfunktionen, die eine Basisuntersuchung überschreiten. Zu seinen
                                        Besonderheiten zählt die Dualsonden-Technik, die einen nicht-invasiven Blick in
                                        oberflächennahe und in tiefe Schichten des Körpers ermöglicht, sowie der
                                        Batteriebetrieb. Das Gerät wurde zunächst für Schwellenländer entwickelt, wird
                                        nun aber auch in Industrienationen eingesetzt.</small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://www.ge-ultraschall.com/vscan-portfolio/vscan-mit-dualsonde/">Weitere
                                        Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/vscan.png" class="d-block w-100 img-thumbnail"
                                                alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>