<div class="modal fade bd-clay-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Clay Refrigerator</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Der Clay Refrigerator ist ein aus Lehm gefertigter Kühlschrank, der durch
                                        Wasserdampf kühlt und damit ohne Stromversorgung auskommt.
                                        Zur Kühlung wird lediglich der Tonbehälter mit Wasser befüllt, das durch die
                                        Umgebungswärme verdampft. Durch die geringe Größe des Geräts kann der
                                        Kühlschrank auch in kleinen Hütten genutzt werden.
                                        Die Konstruktion aus Lehm mit wenigen Einzelteilen ist robust und ermöglicht
                                        eine lange Nutzbarkeit.
                                        Durch den Verzicht auf Strom entstehen beim Betrieb – abgesehen von der
                                        Wasserzufuhr – keine Betriebskosten.
                                    </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://www.energieleben.at/kuehlschrank-ohne-strom/">Weitere Infos!</a>
                                </p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/clayRefrigerator.png" class="d-block w-100 img-thumbnail"
                                                alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>