<div class="modal fade bd-chapa-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">CH4PA</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>Der CH4PA (gesprochen „CHAPA“) ist ein von dem österreichischen Designunternehmen Spirit Design entwickeltes Nutzfahrzeug für Kleinbauern. 
                                Das „CH4“ steht für Methan, was auf die Besonderheit des Kleintraktors verweist. 
                                Dieser wird mit Biogas betrieben, welches die Kleinbauern selbst produzieren können, wodurch der Betrieb sehr günstig wird. 
                                <br>
                                Kennzeichnend für den CH4PA ist zudem seine hohe Ladekapazität und seine Dreipunktaufhängung mit Zapfwelle, die eine Kupplung landwirtschaftlicher Geräte aller Art ermöglicht. 
                                Sein solider Rahmen bietet eine Basis für verschiedene Fahrzeugaufbauten; Haken und Ösen erlauben die Anbringung eines Sonnendachs. </small>
                                </p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="http://www.spiritdesign.com/work/eigenentwicklungen/ch4pa">http://www.spiritdesign.com/work/eigenentwicklungen/ch4pa</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/ch4pa.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>