<div class="modal fade bd-crop-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Crop Tiger</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Der Crop Tiger ist ein speziell für den asiatischen Markt entwickelter
                                        Mähdrescher.
                                        Besonderheiten sind seine kompakte und gleichzeitig robuste Bauweise sowie die
                                        bewusste Reduktion von technischen Einzelteilen.
                                        Dadurch ist der Crop Tiger weniger reparaturanfällig und seine Bedienung kann
                                        innerhalb weniger Stunden erlernt werden.
                                        Zudem besitzt er einen Kettenantrieb, der speziell für den Einsatz auf
                                        Reisfeldern konzipiert wurde.
                                        Die von Claas eigens entwickelte Tangential Axial Flow-Technologie ermöglicht
                                        die doppelte Reinigung des geernteten Korns und eine besonders verlustarme
                                        Ernte.
                                    </small></p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://www.claas.de/blueprint/servlet/blob/945306/d6e9a5f9025e27a3b8da089c3cacb8ee/prospekt-crop-tiger-data.pdf">Weitere
                                        Infos!</a></p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/cropTiger.png" class="d-block w-100 img-thumbnail"
                                                alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>