<div class="modal fade bd-wadi-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Wadi</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>Wadi ist ein kompaktes Gerät zur natürlichen Wasserdesinfektion durch
                                        UV-Licht.
                                        Dabei errechnet ein kleiner Chip, wann das Wasser trinkbereit ist.
                                        Die Bedienung ist denkbar einfach: Das Gerät wird einfach zusammen mit beliebig
                                        vielen Flaschen in die Sonne gelegt und aktiviert.
                                        Ein Smiley informiert über den abgeschlossenen Reinigungsvorgang.
                                        Das Gerät ist durch die Verwendung von Hartplastik sehr robust.
                                        Es wird durch ein kleines Solarpanel betrieben, sodass keinerlei Betriebskosten
                                        entstehen.</small></p>
                                <br>
                                <p style="font-size: 12px;">Link: <a href="www.helioz.org/WADI">Weitere Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/wadi.png" class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>