<div class="modal fade bd-fresh-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Fresh Box</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">

                                <p><small>Die Fresh Box ist eine portable und robuste Kühlbox für Farmer in
                                        Subsahara-Afrika.
                                        Die Box nutzt das Prinzip der Verdunstungskälte.
                                        Durch den Einsatz eines speziellen Materials kann die Temperatur im Gerät bei
                                        der Verdunstung von Wasser um rund 10 Grad im Vergleich zur Außentemperatur
                                        reduziert werden.
                                        Im Gegensatz zu Kühltaschen hält die BSH Fresh Box die Innentemperatur über
                                        einen deutlich längeren Zeitraum hinweg auf einem konstanten Niveau. </small>
                                </p>
                                <br>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://stories.bsh-group.com/de/freshbox-die-innovative-loesung-der-bsh-um-nahrungsmittel-laendlichen-gebie/">Weitere
                                        Infos!</a>
                                </p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/freshBox.png" class="d-block w-100 img-thumbnail"
                                                alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>