<div class="modal fade bd-ibis-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style=>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="container">
                    <div class="row">
                        <h1 class="display-5">IBIS Budget</h1>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">

                            <p><small>Ibis Budget ist die in Europa führende low-cost Marke des französischen
                                    Hotelunternehmens Accor. Die Hotels sind auf die besonderen Bedürfnisse von
                                    Städtereisenden angepasst. Kennzeichnend sind eine zentrale Standortwahl sowie die
                                    bewusste Begrenzung von Leistungen, um eine gute Qualität zu niedrigen Preisen
                                    anbieten zu können. Die Zimmerausstattung ist einfach gehalten, bietet jedoch für
                                    jedes Zimmer einen Fernseher sowie eine Toilette und Dusche. Statt einer ständig
                                    besetzten Rezeption haben viele Hotels einen Check-in Automaten. Als zusätzlich
                                    buchbare Leistungen bietet Ibis Budget W-Lan und Frühstück. </small></p>
                            <br>

                            <p style="font-size: 12px;">Link: <a
                                    href="https://ibis.accorhotels.com/deutschland/index.de.shtml">Weitere
                                    Infos!</a>
                            </p>
                        </div>
                        <div class="col-lg-8">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/images/ibis-budget_thumb.png" class="d-block w-100 img-thumbnail"
                                            alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>