<div class="modal fade bd-rehau-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Rehau HomeGas</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <p><small>REHAU HomeGas bietet afrikanischen Landwirten die Möglichkeit zur
                                        Selbstversorgung mit Energie.
                                        Die Biogasanlage ist für Höfe mit mindestens zwei Kühen geeignet.
                                        <br>
                                        Mithilfe der Anlage können die Landwirte durch Kuhdünger und Wasser selbst
                                        Biogas zu produzieren, das in einem Gasbehälter gespeichert und zum Kochen
                                        genutzt werden kann.
                                        Verbleibende Reststoffe des Dungs können anschließend als organischer Dünger
                                        verwendet werden. </small></p>

                                <p style="font-size: 12px;">Link: <a
                                        href="https://www.rehau.com/de-de/zahlen-und-fakten">Hier geht's zum
                                        Projekt!</a>
                                </p>



                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/rehauHomeGas.png" class="d-block w-100 img-thumbnail"
                                                alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>