<div class="modal fade bd-aravind-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style=>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <h1 class="display-5">Aravind Eye Hospital</h1>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">



                                <p><small>Das Aravind Eye Hospital ist eine indische Krankenhauskette, die 1976 von
                                        Govindappa Venkataswamy in Madurai gegründet wurde und heute 13 Augenkliniken
                                        umfasst.
                                        Die Kliniken sind auf den in Indien häufig vorkommenden grauen Start
                                        spezialisiert und bieten sehr kostengünstige Behandlungen an.
                                        <br>
                                        Zur Einsparung von Kosten hat Aravind schlanke Strukturen mit geringem
                                        bürokratischem Aufwand etabliert und gängige Abläufe weitgehend standardisiert
                                        und skaliert.
                                        Operationen werden beispielsweise in sogenannten Operation Theaters
                                        zusammengelegt, Patienten werden in Gemeinschaftssprechstunden beraten. </small>
                                </p>
                                <br>

                                <p style="font-size: 12px;">Link: <a href="https://aravind.org/our-story/">Weitere
                                        Infos!</a></p>
                            </div>
                            <div class="col-lg-8">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/images/aravindEyeHospital.png"
                                                class="d-block w-100 img-thumbnail" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>